p{
    margin-top: 1.5rem;
    color: #000000;
    text-align: justify;
    font-size: 1.25rem;
}

.title{
    margin-top: 1.5rem;
    color: #350057;
    text-align: center;
    font-size: 2rem;
}

.sub-title{
    margin-top: 1.5rem;
    color: #350057;
    font-size: 1.5rem;
}

hr {
    border: 0;
    height: 1px;
    color: #350057;
    background-image: linear-gradient(to right, rgba(53, 0, 87, 0), rgba(53, 0, 87, 0.75), rgba(53, 0, 87, 0));
}