.search{
    border-radius: 15px;
    height: 40px;
    margin-right: 1rem;
    text-align: center;
}

.btn-submit{
    margin: auto;
    margin-left: 1rem;
}

.search-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-input{
    width: 50%;
}

.description{
    text-align: center;
    font-size: 1.25rem;
    color: #350057;
}

.form-center{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}