body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: #350057;
  color: #FFFFFF;
}

.navbar-brand{
  color: #FFFFFF;
}

.footer {
  background-color: #350057;
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
}

a:hover {
  color: #FFFFFF;
}

a:active {
  color: #FFFFFF;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.text-muted{
  color: #FFFFFF;
}

.btn-outline-primary {
  font-size: 16px;
  color: #FFFFFF;
  border-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.btn-outline-primary:hover {
  color: #59366F;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.btn-outline-primary-contrast {
  font-size: 16px;
  color: #FFFFFF;
  border-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.75);
-moz-box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.75);
box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.75);
}

.btn-outline-primary-contrast:hover {
  color: #000000;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.btn-outline-secondary {
  color: #350057;
  background-color: white;
  border-color: #350057;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.btn-outline-secondary:hover {
  color: white;
  background-color: #59366F;
  border-color: #59366F;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.btn-primary {
  border: 0;
  color: #FFFFFF;
  background-color: #350057;
  padding: 5px 25px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.btn-primary:hover {
  border: 0;
  background-color: #59366F;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}